@import '../../assets/scss/_mixins.scss';

.messages-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 50px;
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  @include scroll-bar-stylizer();
}
