%base-container {
  position: absolute;
  left: 0;
  right: 0;
}

.messages-container {
  @extend %base-container;
  top: 0;
  bottom: 50px;
  background: #3d3d3d;
  overflow-y: scroll;
}

.inputs-container {
  @extend %base-container;
  bottom: 0;
  height: 50px;
  background: green;
}
