<app-popup *ngIf="visible" (onClosed)="onClosed()" [title]="'Invite friends'">
  <ng-container popup-content>
    <p>Share the given code to your friends to allow them to join your channel ! :)</p>
    <div class="generated-code">
      {{ token }}
    </div>
  </ng-container>
  <ng-container popup-footer>
    <button class="btn" [disabled]="token" (click)="onGenerateCode()">Create invitation code</button>
  </ng-container>
  <!-- <h3 class="popup-title">Invite friends</h3>
  <div class="popup-content">
    <p>Share the given code to your friends to allow them to join your channel ! :)</p>
    <div class="generated-code">
      {{ token }}
    </div>
  </div>
  <div class="popup-footer">
    <button [disabled]="token" (click)="onGenerateCode()">Create invitation code</button>
  </div> -->
</app-popup>
