<app-cropper-popup [(visible)]="showCropperPopup" [image]="detailsForm.value.avatar" (validate)="onCropperPopupValidate($event)"></app-cropper-popup>

<h1>Profile</h1>

<!-- User Details -->
<h2>
  <small>Details</small>
</h2>
<form class="form-horizontal" [formGroup]="detailsForm" (ngSubmit)="onSaveProfile($event)">
  <div class="form-group">
    <div class="col-3">
      <label class="form-label" for="avatar">Avatar</label>
    </div>
    <div class="col-9">
      <div class="avatar-container" (click)="openCropperPopup()">
        <input (change)="onFileChange($event)" type="file" id="avatar" autocomplete="off">
        <img *ngIf="hasAvatar; else noAvatar" [src]="detailsForm.controls.avatar.value">
        <ng-template #noAvatar>
          <img src="assets/no_avatar.svg"/>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-3">
      <label class="form-label" for="email">Email</label>
    </div>
    <div class="col-9">
      <input class="form-input" formControlName="email" type="email" id="email" autocomplete="off">
    </div>
  </div>
  <div class="form-group">
    <div class="col-3">
      <label class="form-label" for="username">Username</label>
    </div>
    <div class="col-9">
      <input class="form-input" formControlName="username" type="text" id="username" autocomplete="off">
    </div>
  </div>
  <div class="form-group">
    <div class="col-12">
      <button class="btn btn-primary float-right" [class.loading]="saving">Save</button>
    </div>
  </div>
</form>

<div class="divider"></div>

<!-- User password -->
<h2>
  <small>Change password</small>
</h2>
<form class="form-horizontal" [formGroup]="passwordForm" (ngSubmit)="onSavePassword($event)">
  <div class="form-group">
    <div class="col-3">
      <label class="form-label" for="password">Password</label>
    </div>
    <div class="col-9">
      <input class="form-input" formControlName="password" type="password" id="password" autocomplete="off">
    </div>
  </div>
  <div class="form-group">
    <div class="col-3">
      <label class="form-label" for="confirm_password">Confirm Password</label>
    </div>
    <div class="col-9">
      <input class="form-input" formControlName="confirm_password" type="password" id="confirm_password" autocomplete="off">
    </div>
  </div>
  <div class="form-group">
    <div class="col-12">
      <button class="btn btn-primary float-right" [class.loading]="dataSent">Save</button>
    </div>
  </div>
</form>
