@import 'assets/scss/_variables';
@import 'assets/scss/_animations';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html, body {
  height: 100vh;
  width: 100vw;
}
body {
  background: #fff;
}

.row {
  margin: 0;
}

.hidden {
  display: none;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, .6);
}

.clear-float {
  clear: both;
}

button[disabled] {
  background: $app-color-disabled !important;
  cursor: default !important;
}

.file-input {
  padding-top: 6px !important;
}

.scrollable {
  overflow-y: auto;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: $app-color-neutral;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: darken($app-color-neutral, 10%);
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: darken($app-color-neutral, 20%);
  }
}

.search-highlight {
  background-color: $app-color-02;
  color: white;
  padding: 2px;
}
