.searchbar {
  height: 50px;
  display: flex;
  flex: 1 1 auto;
  & input {
    flex-grow: 1;
    border: none;
    height: 50px;
  }
  & i {
    line-height: 50px;
    padding: 0 5px;
    cursor: pointer;
    &:last-child {
      padding: 0 10px;
    }
  }
}
