$app-color-01: #13637F;
$app-color-02: #1D94BF;
$app-color-03: #20A4D3;
$app-color-04: #23B2E5;
$app-color-05: #27C6FF;

$app-color-success: #1bb770;
$app-color-danger: #ff2743;
$app-color-neutral: #e7e9ed;
$app-color-disabled: #c3c3c3;

$nav-total-width: 250px;
$nav-rooms-width: 65px;
$nav-curr-room-width: $nav-total-width - $nav-rooms-width;
