@import '../../../assets/scss/_variables';

.inputs-container {
  position: fixed;
  left: 250px;
  right: 0;
  bottom: 0;
  height: 60px;
  background: $app-color-03;
  & .inputs {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 6px;
    & .textarea {
      position: absolute;
      left: 0;
      right: 80px;
      top: 0;
      bottom: 0;
      & textarea {
        border: none;
        outline: none;
        resize: none;
        width: 100%;
        height: 100%;
        padding: 7px;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
    & .buttons-container {
      position: absolute;
      top: 0;
      right: 0;
      width: 80px;
      bottom: 0;
      line-height: 40px;
      box-sizing: border-box;
      padding: 0 5px;
      & .chars-limit {
        font-size: 12px;
        margin-right: 5px;
        color: $app-color-neutral;
      }
      & button {
        background: none;
        border: none;
        font-size: 16px;
        transition: .1s ease-in-out;
        outline: none;
        cursor: pointer;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}
