<!-- <div class="inputs-container">
  <div class="textarea-container">
    <textarea [(ngModel)]="text" appInputAutoResize></textarea>
  </div>
  <button (click)="isEmojiPickerVisible = !isEmojiPickerVisible">
    😄
    <app-emoji-picker [visible]="isEmojiPickerVisible"></app-emoji-picker>
  </button>
  <button (click)="onSend()">
    <img src="assets/send.svg">
  </button>
</div> -->
<div class="inputs-container" #container>
  <div class="inputs">
    <div class="textarea">
        <!-- (keyup)="onKeyUp($event)" -->
        <!-- (keydown)="typing.next($event)" -->
      <textarea
        #textarea
        [ngClass]="{ 'scrollable': rowsInTextarea >= maxRowsToDisplay }"
        placeholder="Message..." [(ngModel)]="text" (keydown)="onKeyDown($event)" [maxlength]="charsLimit"></textarea>
    </div>
    <div class="buttons-container">
      <span class="chars-limit">{{ charsCount }}</span>
      <button appEmojiTriggerer>😄</button>
    </div>
  </div>
</div>

<app-emoji-picker (onEmojiPicked)="onEmojiPicked($event)"></app-emoji-picker>
