@import '../../../assets/scss/_mixins.scss';

.emoji-container {
  position: absolute;
  height: 250px;
  width: 320px;
  padding: 10px;
  background: white;
  box-shadow: 2px 2px 6px #000;
  border-radius: 3px;
  &.hidden {
    display: none;
  }
  & .search-emoji {
    padding-bottom: 10px;
    border-bottom: 1px solid darkgrey;
    & input {
      height: 24px;
      outline: none;
      border-radius: 3px;
      width: 100%;
      border: 1px solid darkgrey;
      box-sizing: border-box;
      padding: 3px;
    }
  }
  & .emojis {
    height: 205px;
    margin-top: 10px;
    overflow-y: scroll;
    @include scroll-bar-stylizer();
    & .emoji {
      display: inline-block;
      height: 26px;
      width: 26px;
      font-size: 20px;
      user-select: none;
      cursor: pointer;
    }
  }
}
