<main>
  <form [formGroup]="form" (ngSubmit)="onSignin($event)" class="card">
    <h1>Sign in</h1>
    <label for="email">Email</label>
    <input formControlName="email" type="email" id="email" autocomplete="off">
    <label for="password">Password</label>
    <input formControlName="password" type="password" id="password" autocomplete="off">
    <div class="row">
      <div class="col-xs-12">
          <!-- [style.opacity]="form.valid ? 1 : 0" -->
        <button type="submit" [disabled]="disableButton">
          <span *ngIf="!dataSent">Sign in</span>
          <i *ngIf="dataSent" class="mdi mdi-loading"></i>
        </button>
      </div>
    </div>
    <div class="links">
      <a routerLink="/signup">Don't have any account ?</a>
    </div>
  </form>
</main>
