@import '../../../assets/scss/_variables';
@import '../../../assets/scss/_extends';

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0px;
  width: $nav-total-width;
  font-family: Arial, Helvetica, sans-serif;

  & .rooms {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    background: $app-color-01;

    & .room {
      height: 40px;
      width: 40px;
      margin: 5px;
      background: rgb(44, 44, 44);
      border-radius: 50%;
      cursor: pointer;
      user-select: none;

      &.new {
        color: #fff;
        border: 2px dashed rgb(29, 148, 191);
        text-align: center;
        & i {
          font-size: 33px;
        }
      }
    }
  }
  & .current-room {
    position: absolute;
    top: 0;
    left: $nav-rooms-width;
    bottom: 0;
    width: $nav-curr-room-width;
    background: $app-color-02;

    & .user-profile {
      padding: 15px;
      color: #fff;

      & .settings {
        float: left;
        background: none;
        border: none;
        color: #fff;
        outline: none;
        cursor: pointer;
      }

      & .username {
        position: relative;
        float: right;

        & i {
          cursor: pointer;
        }
        & .user-profile-more {
          position: absolute;
          right: -8px;
          top: 24px;
          border-radius: 3px;
          list-style-type: none;
          background: #fff;
          color: #000;
          font-size: 14px;
          @extend %shadow;

          &:before {
            content: '';
            position: absolute;
            right: 10px;
            top: -6px;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #fff;
          }
          & li {
            padding: 5px 15px;
          }
        }
      }
    }
  }
}
