<nav>
  <div class="rooms">
    <div class="room new button-new-room" (click)="openRoomPopup()">
      <div class="room-name">
        <i class="mdi mdi-plus button-new-room"></i>
      </div>
    </div>
    <div class="room"
      *ngFor="let room of rooms"
      [ngClass]="{ 'current-room': isCurrentRoom(room) }"
      (click)="onSelectRoom(room)">
      <div class="room-name">{{ room.name | slice:0:1 }}</div>
    </div>
  </div>
  <div class="current-room-info">
    <div class="user-profile">
      <a class="settings">
        <i class="mdi mdi-settings mdi-18px"></i>
      </a>
      <span class="username">
        {{ user.username }}
        <i class="mdi mdi-chevron-down" (click)="toggleShowMore()"></i>
        <ul class="user-profile-more" [ngClass]="{ 'hidden': !showMore }">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </span>
    </div>
    <div (click)="openInvitationPopup()" class="invitation button-invitation">
      <i class="mdi mdi-plus button-invitation"></i>
      Invite friends
    </div>
    <div *ngIf="currentRoom" class="room-users">
      <div *ngFor="let user of currentRoom.users" class="room-user">
        <span class="status"></span>
        {{ user.username }}
      </div>
    </div>
  </div>
</nav>

<app-room-popup [(visible)]="showRoomPopup"></app-room-popup>
<app-invitation-popup [(visible)]="showInvitationPopup"></app-invitation-popup>
