.message-container {
  float: left;
  clear: both;
}
.message {
  background: #e6e6e6;
  padding: 5px 10px;
  color: #000;
  border-radius: 5px;
  float: left;
  clear: both;
  margin: 10px 60px 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: -170px;
  animation: slide-ltr 0.1s ease-in 0s forwards;
}

.is-mine {
  float: right !important;
  & .message {
    background: #23B2E5 !important;
    color: #fff;
    margin: 10px 20px 10px 60px !important;
    left: 170px !important;
    animation: slide-rtl 0.1s ease-in 0s forwards !important;
  }
}

.from {
  & .date {
    font-size: 10px;
  }
}

@keyframes slide-ltr {
  from { left: -170px; }
  to { left: 0; }
}

@keyframes slide-rtl {
  from { left: 170px; }
  to { left: 0; }
}
