@import '../../../assets/scss/_variables';
@import '../../../assets/scss/_extends';

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0px;
  width: $nav-total-width;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 10;

  //   & .channel-info {
  //     position: absolute;
  //     height: 50px;
  //     left: 0;
  //     bottom: 0;
  //     right: 0;
  //   }
  // }
}

.rooms {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 65px;
  background: $app-color-01;
}

.room {
  height: 50px;
  width: 50px;
  margin: 5px 5px 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.new {
  color: #fff;
  border: 1px dashed #fff;
  text-align: center;
}

.current-room {
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    height: 50px;
    width: 5px;
    background: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.room-name {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 22px;
}

.current-room-info {
  position: absolute;
  top: 0;
  left: $nav-rooms-width;
  bottom: 0;
  width: $nav-curr-room-width;
}

.menu-container {
  border-radius: 0;
  transform: none;
  box-shadow: none;
  height: 100%;
  border-right: 1px solid $app-color-neutral;
}

.users-list {
  position: absolute;
  top: 170px;
  left: 12px;
  right: 10px;
  bottom: 50px;
  padding: 0;
}

.disconnect {
  position: absolute;
  bottom: 10px;
  left: 5px;
  cursor: pointer;
  user-select: none;
}

.status {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: red;
  margin-right: 5px;
}

.dropdown {
  width: 100%;
}

.fix-caret {
  position: absolute;
  right: 0;
  top: 5px;
}
